altgraph==0.17.3
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
coverage==5.5
decorator==4.4.2
deprecation==2.1.0
eyed3==0.9.7
filetype==1.2.0
idna==3.4
imageio==2.31.1
imageio-ffmpeg==0.4.8
lyricsgenius==3.0.1
moviepy==1.0.3
numpy==1.25.2
packaging==23.1
pefile==2023.2.7
Pillow==10.0.0
proglog==0.1.10
pyinstaller==5.1
pyinstaller-hooks-contrib==2023.6
pytube==15.0.0
pywin32-ctypes==0.2.2
requests==2.31.0
soupsieve==2.4.1
toml==0.10.2
tqdm==4.65.0
urllib3==2.0.4
